.elgg-search { margin: 0; padding: 4px; background: #1c5080; overflow: hidden; height: 2.8125rem; }
.elgg-search fieldset { border: 0; padding: 0; margin: 0; position: relative; }
.elgg-search fieldset input[type="text"].search-input { font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; background: none; border: none; color: white; border: none; text-indent: 30px; font-size: 0.875rem; line-height: 1.8125rem; height: auto; padding: 4px 10px; margin: 0; }
.elgg-search fieldset input[type="text"].search-input:focus { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; background: none; border: none; }
.elgg-search fieldset input[type="text"].search-input::-webkit-input-placeholder { font-size: 0.875rem; color: white; }
.elgg-search fieldset input[type="text"].search-input::-moz-placeholder { font-size: 0.875rem; color: white; }
.elgg-search fieldset input[type="text"].search-input:-ms-input-placeholder { font-size: 0.875rem; color: white; }
.elgg-search fieldset .elgg-icon-search { position: absolute; left: 0; top: 0; font-size: 1.375rem; margin: 0 10px; color: white; line-height: 2.3125rem; }
.elgg-search fieldset input[type="submit"].search-submit-button { display: none; }
