/* **************************
	BUTTONS
************************** */
.elgg-button, input[type="submit"].elgg-button { border-style: solid; border-width: 0; cursor: pointer; font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-weight: bold; line-height: normal; margin: 0 0 1.25rem; position: relative; text-decoration: none; text-align: center; -webkit-appearance: none; border-radius: 0; display: inline-block; padding-top: 0.5625rem; padding-right: 1.125rem; padding-bottom: 0.625rem; padding-left: 1.125rem; font-size: 0.8125rem; background-color: #70a9df; border-color: #3988d3; color: #FFFFFF; border-radius: 5px; transition: background-color 300ms ease-out; }
.elgg-button:hover, .elgg-button:focus, input[type="submit"].elgg-button:hover, input[type="submit"].elgg-button:focus { background-color: #3988d3; }
.elgg-button:hover, .elgg-button:focus, input[type="submit"].elgg-button:hover, input[type="submit"].elgg-button:focus { color: #FFFFFF; }
.elgg-button.elgg-button-large, input[type="submit"].elgg-button.elgg-button-large { padding-top: 0.75rem; padding-right: 1.5rem; padding-bottom: 0.8125rem; padding-left: 1.5rem; font-size: 1rem; }
.elgg-button.elgg-button-small, input[type="submit"].elgg-button.elgg-button-small { padding-top: 0.4375rem; padding-right: 0.875rem; padding-bottom: 0.5rem; padding-left: 0.875rem; font-size: 0.6875rem; }
.elgg-button.elgg-button-tiny, input[type="submit"].elgg-button.elgg-button-tiny { padding-top: 0.3125rem; padding-right: 0.625rem; padding-bottom: 0.375rem; padding-left: 0.625rem; font-size: 0.5625rem; }
.elgg-button.elgg-button-submit, input[type="submit"].elgg-button.elgg-button-submit { background-color: #2a77bf; border-color: #225f99; color: #FFFFFF; }
.elgg-button.elgg-button-submit:hover, .elgg-button.elgg-button-submit:focus, input[type="submit"].elgg-button.elgg-button-submit:hover, input[type="submit"].elgg-button.elgg-button-submit:focus { background-color: #225f99; }
.elgg-button.elgg-button-submit:hover, .elgg-button.elgg-button-submit:focus, input[type="submit"].elgg-button.elgg-button-submit:hover, input[type="submit"].elgg-button.elgg-button-submit:focus { color: #FFFFFF; }
.elgg-button.elgg-button-action, input[type="submit"].elgg-button.elgg-button-action { background-color: #2a77bf; border-color: #225f99; color: #FFFFFF; }
.elgg-button.elgg-button-action:hover, .elgg-button.elgg-button-action:focus, input[type="submit"].elgg-button.elgg-button-action:hover, input[type="submit"].elgg-button.elgg-button-action:focus { background-color: #225f99; }
.elgg-button.elgg-button-action:hover, .elgg-button.elgg-button-action:focus, input[type="submit"].elgg-button.elgg-button-action:hover, input[type="submit"].elgg-button.elgg-button-action:focus { color: #FFFFFF; }
.elgg-button.elgg-button-cancel, input[type="submit"].elgg-button.elgg-button-cancel { background-color: #999; border-color: #7a7a7a; color: #FFFFFF; }
.elgg-button.elgg-button-cancel:hover, .elgg-button.elgg-button-cancel:focus, input[type="submit"].elgg-button.elgg-button-cancel:hover, input[type="submit"].elgg-button.elgg-button-cancel:focus { background-color: #7a7a7a; }
.elgg-button.elgg-button-cancel:hover, .elgg-button.elgg-button-cancel:focus, input[type="submit"].elgg-button.elgg-button-cancel:hover, input[type="submit"].elgg-button.elgg-button-cancel:focus { color: #FFFFFF; }
.elgg-button.elgg-button-delete, input[type="submit"].elgg-button.elgg-button-delete { background-color: #67080a; border-color: #520608; color: #FFFFFF; }
.elgg-button.elgg-button-delete:hover, .elgg-button.elgg-button-delete:focus, input[type="submit"].elgg-button.elgg-button-delete:hover, input[type="submit"].elgg-button.elgg-button-delete:focus { background-color: #520608; }
.elgg-button.elgg-button-delete:hover, .elgg-button.elgg-button-delete:focus, input[type="submit"].elgg-button.elgg-button-delete:hover, input[type="submit"].elgg-button.elgg-button-delete:focus { color: #FFFFFF; }
.elgg-button.elgg-button-dropdown, input[type="submit"].elgg-button.elgg-button-dropdown { border-style: solid; border-width: 0; cursor: pointer; font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-weight: bold; line-height: normal; margin: 0 0 1.25rem; position: relative; text-decoration: none; text-align: center; -webkit-appearance: none; border-radius: 0; display: inline-block; padding-top: 0.5625rem; padding-right: 1.125rem; padding-bottom: 0.625rem; padding-left: 1.125rem; font-size: 0.8125rem; background-color: #4690d6; border-color: #2974ba; color: #FFFFFF; border-radius: 5px; transition: background-color 300ms ease-out; position: relative; outline: none; padding-right: 3.5625rem; }
.elgg-button.elgg-button-dropdown:hover, .elgg-button.elgg-button-dropdown:focus, input[type="submit"].elgg-button.elgg-button-dropdown:hover, input[type="submit"].elgg-button.elgg-button-dropdown:focus { background-color: #2974ba; }
.elgg-button.elgg-button-dropdown:hover, .elgg-button.elgg-button-dropdown:focus, input[type="submit"].elgg-button.elgg-button-dropdown:hover, input[type="submit"].elgg-button.elgg-button-dropdown:focus { color: #FFFFFF; }
.elgg-button.elgg-button-dropdown::after, input[type="submit"].elgg-button.elgg-button-dropdown::after { position: absolute; content: ""; width: 0; height: 0; display: block; border-style: solid; border-color: #FFFFFF transparent transparent transparent; top: 50%; }
.elgg-button.elgg-button-dropdown::after, input[type="submit"].elgg-button.elgg-button-dropdown::after { border-width: 0.375rem; right: 1.40625rem; margin-top: -0.15625rem; }
.elgg-button.elgg-button-dropdown::after, input[type="submit"].elgg-button.elgg-button-dropdown::after { border-color: #FFFFFF transparent transparent transparent; }
.elgg-button.elgg-state-disabled, input[type="submit"].elgg-button.elgg-state-disabled { background-color: #dedede; border-color: #b2b2b2; color: #333333; cursor: default; opacity: 0.7; box-shadow: none; }
.elgg-button.elgg-state-disabled:hover, .elgg-button.elgg-state-disabled:focus, input[type="submit"].elgg-button.elgg-state-disabled:hover, input[type="submit"].elgg-button.elgg-state-disabled:focus { background-color: #b2b2b2; }
.elgg-button.elgg-state-disabled:hover, .elgg-button.elgg-state-disabled:focus, input[type="submit"].elgg-button.elgg-state-disabled:hover, input[type="submit"].elgg-button.elgg-state-disabled:focus { color: #FFFFFF; }
.elgg-button.elgg-state-disabled:hover, .elgg-button.elgg-state-disabled:focus, input[type="submit"].elgg-button.elgg-state-disabled:hover, input[type="submit"].elgg-button.elgg-state-disabled:focus { background-color: #dedede; }
