form, .elgg-form { margin: 0; }
form:before, form:after, .elgg-form:before, .elgg-form:after { content: " "; display: table; }
form:after, .elgg-form:after { clear: both; }
form > fieldset, .elgg-form > fieldset { border: none; margin: 0; padding: 0; }
form label, .elgg-form label { color: #202020; }
form label + br, .elgg-form label + br { display: none; }
form .mceEditor, .elgg-form .mceEditor { margin-bottom: 20px; display: block; }

.elgg-input-checkboxes > li, .elgg-input-radios > li { margin-bottom: 0.3125rem; }
.elgg-input-checkboxes input[type="radio"], .elgg-input-checkboxes input[type="checkbox"], .elgg-input-radios input[type="radio"], .elgg-input-radios input[type="checkbox"] { margin: 0 0.3125rem 0 0; display: inline-block; vertical-align: middle; }

select[multiple] { height: auto; overflow: auto; background-image: none; }
