/* ***************************************
	MISC
*************************************** */
#login-dropdown { position: absolute; top: 10px; right: 0; z-index: 10; margin: 20px 0; }
#login-dropdown .elgg-button { background-color: transparent; border: none; }

#login-dropdown-box { width: 25rem; }

/* ***************************************
	AVATAR UPLOADING & CROPPING
*************************************** */
#current-user-avatar { border: 1px solid #cccccc; border-bottom: 0; margin: 0; padding: 0.75rem; }
#current-user-avatar + a { width: 100%; margin: 0; }

#avatar-croppingtool { display: none; }
@media only screen and (min-width: 64.063em) { #avatar-croppingtool { display: block; } }
#avatar-croppingtool .elgg-form-avatar-crop { position: relative; }
#avatar-croppingtool .elgg-form-avatar-crop fieldset { padding: 0 0 0 140px; }
#avatar-croppingtool .elgg-form-avatar-crop fieldset .elgg-foot { padding: 0.75rem 0; }
#avatar-croppingtool #user-avatar-cropper { display: block; max-width: 99999px; }
#avatar-croppingtool #user-avatar-preview-title { position: absolute; top: 0; left: 0; width: 120px; border: 10px solid #cccccc; background: #cccccc; font-weight: bold; }
#avatar-croppingtool #user-avatar-preview { position: absolute; background: white; top: 30px; left: 0; border: 1px solid; overflow: hidden; width: 120px; height: 120px; border: 10px solid #cccccc; }
#avatar-croppingtool #user-avatar-preview img { max-width: 9999px; display: block; }

/* ***************************************
	FRIENDS COLLECTIONS
*************************************** */
#friends_collections_accordian li h2 { border-radius: 5px; background: #f6f6f6; border: 1px solid transparent; color: #222; cursor: pointer; margin: 0.4375rem; padding: 0.28125rem 0.5625rem; font-size: 1.125rem; line-height: 1.25rem; }
#friends_collections_accordian li h2:hover { background: #eeeeee; border: 1px solid #cccccc; transition: all 300ms ease-out; }
#friends_collections_accordian li h2 .friends_collections_controls { float: right; }
#friends_collections_accordian li h2 .elgg-icon { font-size: 1.125rem; color: #67080a; }
#friends_collections_accordian li .elgg-tabs { border-bottom: 1px #cccccc solid; display: table; width: 100%; }
#friends_collections_accordian li .elgg-tabs li { border: 1px #cccccc solid; border-bottom: 0; background: #f2f2f2; margin: 0; width: 100%; }
#friends_collections_accordian li .elgg-tabs li a { text-decoration: none; display: block; padding: 0 0.5625rem; text-align: center; font-size: 0.9375rem; line-height: 2.1875rem; color: gray; background: #d9d9d9; }
#friends_collections_accordian li .elgg-tabs li a:hover { color: #666666; background: #d4d4d4; }
#friends_collections_accordian li .elgg-tabs li.elgg-state-selected { background: white; }
#friends_collections_accordian li .elgg-tabs li.elgg-state-selected a, #friends_collections_accordian li .elgg-tabs li.elgg-state-selected a:hover { color: #666666; top: 1px; background: white; position: relative; }
@media only screen and (min-width: 40.063em) { #friends_collections_accordian li .elgg-tabs { border-radius: none; }
  #friends_collections_accordian li .elgg-tabs li { border-radius: 5px 5px 0 0; float: left; width: auto; margin: 0 0 0 0.5625rem; }
  #friends_collections_accordian li .elgg-tabs li a { border-radius: 5px 5px 0 0; } }
#friends_collections_accordian li .friends-picker-main-wrapper { display: none; height: 550px; }
#friends_collections_accordian li .friends-picker-main-wrapper > * { position: relative; margin: 0.5625rem; }
#friends_collections_accordian li .friends-picker-main-wrapper > *:before, #friends_collections_accordian li .friends-picker-main-wrapper > *:after { content: " "; display: table; }
#friends_collections_accordian li .friends-picker-main-wrapper > *:after { clear: both; }

/* ***************************************
	FRIENDS PICKER
*************************************** */
.friends-picker-main-wrapper { position: relative; height: 500px; max-width: 730px; }
.friends-picker-main-wrapper .friends-picker-wrapper { position: absolute; width: 100%; top: 0; left: 0; right: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.friends-picker-main-wrapper .friends-picker-navigation br { display: none; }
.friends-picker-main-wrapper .friends-picker-navigation ul { padding: 0.4375rem; padding-right: 100px; margin-bottom: 0.4375rem; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; }
.friends-picker-main-wrapper .friends-picker-navigation ul li { display: inline-block; }
.friends-picker-main-wrapper .friends-picker-navigation ul li a { border-radius: 5px; margin-right: 2px; font-weight: bold; color: #e9e9e9; padding: 2px 4px; }
.friends-picker-main-wrapper .friends-picker-navigation ul li a.tabHasContent { color: #4690d6; }
.friends-picker-main-wrapper .friends-picker-navigation ul li a.current, .friends-picker-main-wrapper .friends-picker-navigation ul li a:hover { color: white; background: #4690d6; }
.friends-picker-main-wrapper .friends-picker { overflow: auto; }
@media only screen and (min-width: 40.063em) { .friends-picker-main-wrapper .friends-picker { overflow: hidden; } }
.friends-picker-main-wrapper .friends-picker:before, .friends-picker-main-wrapper .friends-picker:after { content: " "; display: table; }
.friends-picker-main-wrapper .friends-picker:after { clear: both; }
.friends-picker-main-wrapper .friends-picker .friends-picker-container { position: relative; left: 0; top: 0; width: 100%; list-style-type: none; }
.friends-picker-main-wrapper .friends-picker .friends-picker-container .panel { padding: 0; margin: 0; float: left; height: 100%; position: relative; width: 730px; }
.friends-picker-main-wrapper .friends-picker .friends-picker-container .panel .wrapper { padding: 10px; height: 400px; overflow-y: auto; }
.friends-picker-main-wrapper .friends-picker .friends-picker-container .panel h3 { color: #999; font-size: 1.875rem; text-shadow: 1px 1px 0 #FFF; width: 100%; }
.friends-picker-main-wrapper .friends-picker-navigation-l { position: absolute; top: 0; right: 48px; text-indent: -9000em; background: url('../../../../images/../../../_graphics/friendspicker.png?1409732754') no-repeat left top; }
.friends-picker-main-wrapper .friends-picker-navigation-l:hover { background: url('../../../../images/../../../_graphics/friendspicker.png?1409732754') no-repeat left -44px; }
.friends-picker-main-wrapper .friends-picker-navigation-l a { display: block; height: 40px; width: 40px; }
.friends-picker-main-wrapper .friends-picker-navigation-r { position: absolute; top: 0; right: 0; text-indent: -9000em; background: url('../../../../images/../../../_graphics/friendspicker.png?1409732754') no-repeat -60px top; }
.friends-picker-main-wrapper .friends-picker-navigation-r:hover { background: url('../../../../images/../../../_graphics/friendspicker.png?1409732754') no-repeat -60px -44px; }
.friends-picker-main-wrapper .friends-picker-navigation-r a { display: block; height: 40px; width: 40px; }
.friends-picker-main-wrapper .friendspicker-savebuttons { margin: 0.5625rem 0; }
