/* ***************************************
	NAVIGATION ELEMENTS
*************************************** */
.elgg-pagination { display: block; min-height: 1.5rem; margin-left: -0.3125rem; text-align: center; font-size: 1.25rem; }
.elgg-pagination li { height: 1.5rem; color: #222222; font-size: 0.875rem; margin-left: 0.3125rem; }
.elgg-pagination li a, .elgg-pagination li button { display: block; padding: 0.0625rem 0.625rem 0.0625rem; color: #999999; background: none; border-radius: 5px; font-weight: normal; font-size: 1em; line-height: inherit; transition: background-color 300ms ease-out; }
.elgg-pagination li:hover a, .elgg-pagination li a:focus, .elgg-pagination li:hover button, .elgg-pagination li button:focus { background: #e6e6e6; }
.elgg-pagination li.unavailable a, .elgg-pagination li.unavailable button { cursor: default; color: #999999; }
.elgg-pagination li.unavailable:hover a, .elgg-pagination li.unavailable a:focus, .elgg-pagination li.unavailable:hover button, .elgg-pagination li.unavailable button:focus { background: transparent; }
.elgg-pagination li.current a, .elgg-pagination li.current button { background: #4690d6; color: #FFFFFF; font-weight: bold; cursor: default; }
.elgg-pagination li.current a:hover, .elgg-pagination li.current a:focus, .elgg-pagination li.current button:hover, .elgg-pagination li.current button:focus { background: #4690d6; }
.elgg-pagination li { float: left; display: block; }
.elgg-pagination li { float: none; display: inline-block; padding: 0; }
.elgg-pagination li a, .elgg-pagination li span { line-height: 1.5rem; font-size: 0.875rem; padding: 0.0625rem 0.625rem 0.0625rem; display: block; border-radius: 5px; }
.elgg-pagination li.elgg-state-disabled > * { color: #999999; }
.elgg-pagination li.elgg-state-disabled > *:hover { background: transparent; }
.elgg-pagination li.elgg-state-selected > *, .elgg-pagination li a:hover { color: #FFFFFF; background: #4690d6; }

.elgg-htabs { border-bottom: 1px #cccccc solid; display: table; width: 100%; }
.elgg-htabs li { border: 1px #cccccc solid; border-bottom: 0; background: #f2f2f2; margin: 0; width: 100%; }
.elgg-htabs li a { text-decoration: none; display: block; padding: 0 0.5625rem; text-align: center; font-size: 0.9375rem; line-height: 2.1875rem; color: gray; background: #d9d9d9; }
.elgg-htabs li a:hover { color: #666666; background: #d4d4d4; }
.elgg-htabs li.elgg-state-selected { background: white; }
.elgg-htabs li.elgg-state-selected a, .elgg-htabs li.elgg-state-selected a:hover { color: #666666; top: 1px; background: white; position: relative; }
@media only screen and (min-width: 40.063em) { .elgg-htabs { border-radius: none; }
  .elgg-htabs li { border-radius: 5px 5px 0 0; float: left; width: auto; margin: 0 0 0 0.5625rem; }
  .elgg-htabs li a { border-radius: 5px 5px 0 0; } }

.elgg-vtabs { display: block; margin: 0; padding: 0.875rem 0; list-style-type: none; list-style-position: outside; font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }
.elgg-vtabs li { margin: 0 0 0.4375rem 0; font-size: 0.875rem; font-weight: normal; }
.elgg-vtabs li a:not(.button) { display: block; color: #4690d6; margin: 0; padding: 0.4375rem 0.875rem; }
.elgg-vtabs li a:not(.button):hover, .elgg-vtabs li a:not(.button):focus { background: rgba(0, 0, 0, 0.025); color: #7eb1e2; }
.elgg-vtabs li.active > a:first-child:not(.button) { color: #7eb1e2; font-weight: normal; font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }
.elgg-vtabs li.divider { border-top: 1px solid; height: 0; padding: 0; list-style: none; border-top-color: white; }
.elgg-vtabs li.heading { color: #4690d6; font-size: 0.875rem; font-weight: bold; text-transform: uppercase; }

.elgg-breadcrumbs { display: block; padding: 0.5625rem 0.875rem 0.5625rem; overflow: hidden; margin-left: 0; list-style: none; border-style: solid; border-width: 1px; background-color: whitesmoke; border-color: #dddddd; }
.elgg-breadcrumbs li { margin: 0; float: left; font-size: 0.6875rem; line-height: 0.6875rem; text-transform: uppercase; color: #4690d6; }
.elgg-breadcrumbs li:hover a, .elgg-breadcrumbs li:focus a { text-decoration: underline; }
.elgg-breadcrumbs li a { color: #4690d6; }
.elgg-breadcrumbs li.current { cursor: default; color: #333333; }
.elgg-breadcrumbs li.current a { cursor: default; color: #333333; }
.elgg-breadcrumbs li.current:hover, .elgg-breadcrumbs li.current:hover a, .elgg-breadcrumbs li.current:focus, .elgg-breadcrumbs li.current:focus a { text-decoration: none; }
.elgg-breadcrumbs li.unavailable { color: #999999; }
.elgg-breadcrumbs li.unavailable a { color: #999999; }
.elgg-breadcrumbs li.unavailable:hover, .elgg-breadcrumbs li.unavailable:hover a, .elgg-breadcrumbs li.unavailable:focus, .elgg-breadcrumbs li.unavailable a:focus { text-decoration: none; color: #999999; cursor: default; }
.elgg-breadcrumbs li:before { content: "/"; color: #AAAAAA; margin: 0 0.75rem; position: relative; top: 1px; }
.elgg-breadcrumbs li:first-child:before { content: " "; margin: 0; }

.elgg-menu { font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }
.elgg-menu .hidden { display: none !important; }

.elgg-menu-hz { margin: 0 auto 1.0625rem auto; margin-left: -1.375rem; margin-right: 0; padding: 0; list-style: none; overflow: hidden; margin: 0; }
.elgg-menu-hz > li { list-style: none; float: left; margin-left: 1.375rem; display: block; }
.elgg-menu-hz > li > * { display: block; }

/* ***************************************
	TOPBAR MENU
**************************************** */
.top-bar.expanded { background: #333333; }

.elgg-menu-topbar .name h1 a { font-size: inherit; }
.elgg-menu-topbar .elgg-icon { font-size: 1.1875rem; line-height: -0.44922rem; height: -0.44922rem; vertical-align: middle; display: inline; }
.elgg-menu-topbar .elgg-icon .elgg-icon + * { margin-left: 0.625rem; }
.elgg-menu-topbar li:not(.elgg-menu-item-toggle) > a:not(.elgg-button) { position: relative; }
.elgg-menu-topbar li:not(.elgg-menu-item-toggle) > a:not(.elgg-button) > .elgg-icon + span, .elgg-menu-topbar li:not(.elgg-menu-item-toggle) > a:not(.elgg-button) .messages-new, .elgg-menu-topbar li:not(.elgg-menu-item-toggle) > a:not(.elgg-button) #notifier-new, .elgg-menu-topbar li:not(.elgg-menu-item-toggle) > a:not(.elgg-button) .friend-request-new { background: #67080a; color: #fff; height: 1.5625rem; line-height: 1.5625rem; text-align: center; display: inline-block; padding: 0 3px; font-weight: bold; overflow: visible; margin: 0; position: relative; left: -3px; top: -7px; font-size: 10px; min-width: 15px; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; border-radius: 5px; }
.elgg-guest-user .elgg-menu-topbar.elgg-menu-topbar-alt { float: left; margin-left: 20px; }
.elgg-menu-topbar.elgg-menu-topbar-alt .elgg-icon { margin-right: 10px; font-size: 1.1875rem; }
.elgg-menu-topbar.elgg-menu-topbar-alt li > a { padding: 0 0 0 30px; }
.top-bar-section .elgg-menu-topbar.elgg-menu-topbar-default > li { display: inline-block; }
.top-bar-section .elgg-menu-topbar li a.elgg-topbar-avatar img { height: -0.76172rem; border: 1px solid #cccccc; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -moz-border-radius: 1000px; -webkit-border-radius: 1000px; border-radius: 1000px; }
.top-bar-section .elgg-menu-topbar li > a { padding: 0; padding: 0.9375rem; line-height: -0.44922rem; }

/* ***************************************
	SITE MENU
*************************************** */
.elgg-menu-site { z-index: 1; margin: 0 auto; }
.elgg-menu-site:before, .elgg-menu-site:after { content: " "; display: table; }
.elgg-menu-site:after { clear: both; }
.elgg-menu-site li { background: transparent; height: 2.8125rem; }
.elgg-menu-site .elgg-state-selected, .elgg-menu-site li:hover { background: #111; transition: all 300ms ease-out; }
.elgg-menu-site li a { font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-size: 0.875rem; padding: 0 0.875rem; color: white; line-height: 2.8125rem; }
.elgg-menu-site.elgg-menu-site-default { position: relative; bottom: 0; left: 0; }
.elgg-menu-site.elgg-menu-site-default > li { display: inline-block; vertical-align: middle; }
.elgg-menu-site .elgg-menu-site-default > li > a { line-height: 2.8125rem; }
.elgg-menu-site .elgg-menu-site-more { display: none; position: absolute; left: auto; top: 2.8125rem; z-index: 20; min-width: 12.1875rem; background: #111; }
.elgg-menu-site li.elgg-state-acive > .elgg-menu-site-more, .elgg-menu-site li:hover > .elgg-menu-site-more { display: block; }
.elgg-menu-site .elgg-menu-site-more > .elgg-state-selected, .elgg-menu-site .elgg-menu-site-more > li:hover { background: #215d95; }
.elgg-menu-site .elgg-more { position: relative; }
.elgg-menu-site .elgg-more > a:before { content: "\25BC"; font-size: 0.625rem; line-height: 2.8125rem; height: 2.8125rem; text-align: center; display: inline-block; margin-right: 3px; }

/* ***************************************
	TITLE
*************************************** */
.elgg-menu-title { margin: 0 auto 1.0625rem auto; margin-left: -1.375rem; margin-right: 0; padding: 0; list-style: none; overflow: hidden; float: right; margin-left: 0.75rem; margin-right: 0.9375rem; }
.elgg-menu-title > li { list-style: none; float: left; margin-left: 1.375rem; display: block; }
.elgg-menu-title > li > * { display: block; }

/* ***************************************
	FILTER MENU
*************************************** */
.elgg-menu-filter { border-bottom: 1px #cccccc solid; display: table; width: 100%; margin-left: 0; overflow: auto; }
.elgg-menu-filter li { border: 1px #cccccc solid; border-bottom: 0; background: #f2f2f2; margin: 0; width: 100%; }
.elgg-menu-filter li a { text-decoration: none; display: block; padding: 0 0.5625rem; text-align: center; font-size: 0.9375rem; line-height: 2.1875rem; color: gray; background: #d9d9d9; }
.elgg-menu-filter li a:hover { color: #666666; background: #d4d4d4; }
.elgg-menu-filter li.elgg-state-selected { background: white; }
.elgg-menu-filter li.elgg-state-selected a, .elgg-menu-filter li.elgg-state-selected a:hover { color: #666666; top: 1px; background: white; position: relative; }
@media only screen and (min-width: 40.063em) { .elgg-menu-filter { border-radius: none; }
  .elgg-menu-filter li { border-radius: 5px 5px 0 0; float: left; width: auto; margin: 0 0 0 0.5625rem; }
  .elgg-menu-filter li a { border-radius: 5px 5px 0 0; } }

/* ***************************************
	PAGE MENU / OWNER BLOCK
*************************************** */
.elgg-menu-page, .elgg-menu-owner-block { display: block; margin: 0; padding: 0.875rem 0; list-style-type: none; list-style-position: outside; font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }
.elgg-menu-page li, .elgg-menu-owner-block li { margin: 0 0 0.4375rem 0; font-size: 0.875rem; font-weight: normal; }
.elgg-menu-page li a:not(.button), .elgg-menu-owner-block li a:not(.button) { display: block; color: #4690d6; margin: 0; padding: 0.4375rem 0.875rem; }
.elgg-menu-page li a:not(.button):hover, .elgg-menu-page li a:not(.button):focus, .elgg-menu-owner-block li a:not(.button):hover, .elgg-menu-owner-block li a:not(.button):focus { background: rgba(0, 0, 0, 0.025); color: #7eb1e2; }
.elgg-menu-page li.active > a:first-child:not(.button), .elgg-menu-owner-block li.active > a:first-child:not(.button) { color: #7eb1e2; font-weight: normal; font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }
.elgg-menu-page li.divider, .elgg-menu-owner-block li.divider { border-top: 1px solid; height: 0; padding: 0; list-style: none; border-top-color: white; }
.elgg-menu-page li.heading, .elgg-menu-owner-block li.heading { color: #4690d6; font-size: 0.875rem; font-weight: bold; text-transform: uppercase; }
.elgg-menu-page li a, .elgg-menu-owner-block li a { padding: 0.28125rem 0.5625rem; border-radius: 5px; }
.elgg-menu-page li.elgg-state-selected > a:first-child, .elgg-menu-page li > a:first-child:hover, .elgg-menu-owner-block li.elgg-state-selected > a:first-child, .elgg-menu-owner-block li > a:first-child:hover { background: #4690d6; color: white; font-weight: normal; }
.elgg-menu-page .elgg-child-menu, .elgg-menu-owner-block .elgg-child-menu { display: none; margin-left: 15px; }
.elgg-menu-page .elgg-menu-closed:before, .elgg-menu-page .elgg-menu-opened:before, .elgg-menu-owner-block .elgg-menu-closed:before, .elgg-menu-owner-block .elgg-menu-opened:before { display: inline-block; padding-right: 4px; }
.elgg-menu-page .elgg-menu-closed:before, .elgg-menu-owner-block .elgg-menu-closed:before { content: "\002B"; }
.elgg-menu-page .elgg-menu-opened:before, .elgg-menu-owner-block .elgg-menu-opened:before { content: "\002D"; }

/* ***************************************
	HOVER MENU
*************************************** */
.elgg-menu-hover { display: none; position: absolute; z-index: 300; overflow: hidden; min-width: 12.5rem; max-width: 15.625rem; border: solid 1px; border-color: #cccccc #999999 #999999 #cccccc; background-color: #FFF; -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5); box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5); }
.elgg-menu-hover > li { border-bottom: 1px solid #cccccc; }
.elgg-menu-hover > li:last-child { border-bottom: none; }
.elgg-menu-hover > li:first-child { background: #d1d1d1; font-weight: bold; }
.elgg-menu-hover > li ul { margin: 0; }
.elgg-menu-hover a { padding: 2px 6px; font-size: 0.8125rem; display: block; width: 100%; }
.elgg-menu-hover a:hover { background: #d9d9d9; }
.elgg-menu-hover a .elgg-heading-basic { display: block; }
.elgg-menu-hover .elgg-menu-hover-admin a { color: red; }
.elgg-menu-hover .elgg-menu-hover-admin a:hover { color: white; background-color: red; }

/* ***************************************
	SITE FOOTER
*************************************** */
.elgg-menu-footer { padding-left: 0.9375rem; padding-right: 0.9375rem; width: 100%; float: left; margin: 0 auto 1.0625rem auto; margin-left: -1.375rem; margin-right: 0; padding: 0; list-style: none; overflow: hidden; margin: 0; padding-top: 0.75rem; }
.elgg-menu-footer > li { list-style: none; float: left; margin-left: 1.375rem; display: block; }
.elgg-menu-footer > li > * { display: block; }
.elgg-menu-footer li, .elgg-menu-footer li > a { color: #4d4d4d; font-size: 1rem; text-shadow: 1px 1px 0 white; }

/* ***************************************
	GENERAL MENU
*************************************** */
.elgg-menu-general { font-size: 0.875rem; }
.elgg-menu-general > li { display: inline-block; margin: 0 0.4375rem; }
.elgg-menu-general > li:first-child { margin-left: 0; }
.elgg-menu-general > li:last-child { margin-right: 0; }

/* ***************************************
	ENTITY AND ANNOTATION AND RIVER
*************************************** */
.elgg-menu-entity, .elgg-menu-annotation, .elgg-menu-river { margin: 0; float: right; margin-left: 15px; }
.elgg-menu-entity li, .elgg-menu-annotation li, .elgg-menu-river li { margin-left: 0.5625rem; color: #b6b6b6; font-size: 0.84375rem; line-height: 1rem; vertical-align: middle; }
.elgg-menu-entity li a, .elgg-menu-entity li span, .elgg-menu-annotation li a, .elgg-menu-annotation li span, .elgg-menu-river li a, .elgg-menu-river li span { color: #b6b6b6; font-size: 1rem; line-height: 1.125rem; display: inline-block; vertical-align: middle; }
.elgg-menu-entity li a:hover, .elgg-menu-entity li span:hover, .elgg-menu-annotation li a:hover, .elgg-menu-annotation li span:hover, .elgg-menu-river li a:hover, .elgg-menu-river li span:hover { color: #4690d6; }
@media only screen and (min-width: 40.063em) { .elgg-menu-entity li a, .elgg-menu-entity li span, .elgg-menu-annotation li a, .elgg-menu-annotation li span, .elgg-menu-river li a, .elgg-menu-river li span { font-size: 0.875rem; line-height: 1.125rem; } }

/* ***************************************
	LONGTEXT
*************************************** */
.elgg-menu-longtext { float: right; margin-left: 0.75rem; font-size: 0.75rem; }

/* ***************************************
	SIDEBAR EXTRAS (rss, bookmark, etc)
*************************************** */
.elgg-menu-extras { margin-bottom: 15px; }

/* ***************************************
	WIDGET MENU
*************************************** */
.elgg-menu-widget li { margin: 0; position: absolute; top: 0; display: inline-block; line-height: 2.5rem; }
.elgg-menu-widget li a:not(.elgg-button) { color: #999999; }
.elgg-menu-widget li a:not(.elgg-button) .elgg-icon:hover, .elgg-menu-widget li a:not(.elgg-button):hover { color: #4690d6; }
.elgg-menu-widget li.elgg-menu-item-collapse { left: 5px; font-size: 12px; }
.elgg-menu-widget li.elgg-menu-item-delete { right: 10px; }
.elgg-menu-widget li.elgg-menu-item-delete .elgg-icon { font-size: 20px; }
.elgg-menu-widget li.elgg-menu-item-settings { right: 35px; }
.elgg-menu-widget li.elgg-menu-item-settings .elgg-icon { font-size: 20px; }
.elgg-menu-widget li .elgg-widget-collapse-button:before { content: "\25E2"; }
.elgg-menu-widget li .elgg-widget-collapse-button.elgg-widget-collapsed:before { content: "\25BA"; }
