@charset "UTF-8";
#fancybox-loading { position: fixed; top: 50%; left: 50%; width: 50px; height: 50px; margin-top: -25px; margin-left: -25px; cursor: pointer; overflow: hidden; z-index: 405; display: none; }

#fancybox-loading div { position: absolute; top: 0; left: 0; width: 50px; height: 50px; }
#fancybox-loading div:before { display: block; width: 50px; height: 50px; position: fixed; top: 50%; left: 0; right: 0; margin: -25px auto 0; z-index: 410; content: ""; color: #4690d6; font-size: 50px; line-height: 50px; -webkit-animation: spin 2s infinite linear; -moz-animation: spin 2s infinite linear; -o-animation: spin 2s infinite linear; animation: spin 2s infinite linear; display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

#fancybox-overlay { position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: #000000; background: rgba(0, 0, 0, 0.45); z-index: 1004; display: none; left: 0; position: absolute; top: 0; left: 0; width: 100%; z-index: 400; display: none; }

#fancybox-tmp { padding: 0; margin: 0; border: 0; overflow: auto; display: none; }

#fancybox-wrap { visibility: hidden; display: none; position: absolute; z-index: 1005; width: 100vw; top: 0; border-radius: 5px; left: 0; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; visibility: visible; display: none; margin: auto; position: absolute; top: 0; left: 0; padding: 20px; z-index: 510; outline: none; max-width: 85%; margin: 0 auto; }
@media only screen and (max-width: 40em) { #fancybox-wrap { min-height: 100vh; } }
#fancybox-wrap .column, #fancybox-wrap .columns { min-width: 0; }
#fancybox-wrap > :first-child { margin-top: 0; }
#fancybox-wrap > :last-child { margin-bottom: 0; }
@media only screen and (min-width: 40.063em) { #fancybox-wrap { width: 80%; max-width: 62.5rem; left: 0; right: 0; margin: 0 auto; } }
#fancybox-wrap * { max-width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; /*		@media only screen and (min-width:64.063em) {
			@include box-sizing(content-box);
		}*/ }

#fancybox-outer { width: 100%; height: 100%; background: #fff; }

#fancybox-content { width: 0; height: 0; padding: 0; outline: none; position: relative; overflow: hidden; z-index: 515; border: 0px solid #fff; max-width: 100%; }

#fancybox-hide-sel-frame { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent; z-index: 520; }

#fancybox-close { position: absolute; top: -10px; right: -10px; width: 35px; height: 35px; cursor: pointer; z-index: 530; display: none; background: #2a77bf; text-align: center; line-height: 32px; border: 2px solid #fff; -moz-border-radius: 1000px; -webkit-border-radius: 1000px; border-radius: 1000px; }
#fancybox-close:after { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: ""; font-size: 20px; color: #fff; }

#fancybox-error { color: #67080a; padding: 0.75rem; }

#fancybox-img { width: 100%; height: 100%; padding: 0; margin: 0; border: none; outline: none; line-height: 0; vertical-align: top; }

#fancybox-frame { width: 100%; height: 100%; border: none; display: block; }

#fancybox-left { position: absolute; bottom: 0px; height: 100%; width: 35%; cursor: pointer; outline: none; z-index: 530; display: none; background: #4690d6; text-align: center; line-height: 32px; border: 2px solid #fff; -moz-border-radius: 1000px; -webkit-border-radius: 1000px; border-radius: 1000px; }
#fancybox-left:after { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: ""; font-size: 20px; color: #fff; }

#fancybox-right { position: absolute; bottom: 0px; height: 100%; width: 35%; cursor: pointer; outline: none; z-index: 530; display: none; background: #4690d6; text-align: center; line-height: 32px; border: 2px solid #fff; -moz-border-radius: 1000px; -webkit-border-radius: 1000px; border-radius: 1000px; }
#fancybox-right:after { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: ""; font-size: 20px; color: #fff; }

#fancybox-left { left: 0px; }

#fancybox-right { right: 0px; }

#fancybox-left:hover, #fancybox-right:hover { visibility: visible; /* IE6 */ }

#fancybox-left:hover span { left: 20px; }

#fancybox-right:hover span { left: auto; right: 20px; }

#fancybox-title { font-size: 12px; z-index: 1102; }

.fancybox-title-inside { padding-bottom: 10px; text-align: center; color: #333; background: #fff; position: relative; }

.fancybox-title-outside { padding-top: 10px; color: #fff; }

.fancybox-title-over { position: absolute; bottom: 0; left: 0; color: #FFF; text-align: left; }

#fancybox-title-over { padding: 10px; display: block; }

.fancybox-title-float { position: absolute; left: 0; bottom: -20px; height: 32px; }

#fancybox-title-float-wrap { border: none; border-collapse: collapse; width: auto; }

#fancybox-title-float-wrap td { border: none; white-space: nowrap; }

#fancybox-title-float-left { padding: 0 0 0 15px; }

#fancybox-title-float-main { color: #FFF; line-height: 29px; font-weight: bold; padding: 0 0 3px 0; }

#fancybox-title-float-right { padding: 0 0 0 15px; }
