.theme-sandbox-page { background-color: white; }

.theme-sandbox-header { padding: 30px 0 15px; text-align: center; margin: 0 auto; }

.theme-sandbox-main { padding-left: 0.9375rem; padding-right: 0.9375rem; width: 83.33333%; float: left; }

.theme-sandbox-layout { max-width: initial; }

.theme-sandbox-sidebar { padding-left: 0.9375rem; padding-right: 0.9375rem; width: 16.66667%; float: left; }

.theme-sandbox-site-heading a, .theme-sandbox-site-heading a:hover, .theme-sandbox-site-heading a:focus { font-size: 44px; color: #333; text-decoration: none; }

.theme-sandbox-site-heading a:hover, .theme-sandbox-site-heading a:focus { color: #888; }

.theme-sandbox-page-heading { font-size: 24px; color: #666; margin-bottom: 10px; }

.theme-sandbox-section-heading { font-size: 18px; color: #666; margin-bottom: 10px; }

.elgg-module-theme-sandbox-nav { color: #333333; }

.elgg-module-theme-sandbox-nav > .elgg-head { padding: 5px 10px; }

.elgg-module-theme-sandbox-nav > .elgg-head > h3 { color: #666; }

.elgg-menu-theme-sandbox > li { padding: 4px 20px; }

.elgg-menu-theme-sandbox > li.elgg-state-selected { background-color: #E4E4E4; border-radius: 3px; }

.elgg-menu-theme-sandbox > li.elgg-state-selected > a { color: #333; }

.elgg-menu-theme-sandbox a, .elgg-menu-theme-sandbox a:hover, .elgg-menu-theme-sandbox a:focus { color: #777; text-decoration: none; }

.elgg-menu-theme-sandbox a:hover, .elgg-menu-theme-sandbox a:focus { text-decoration: underline; }

.elgg-module-theme-sandbox-demo > .elgg-head { background: #e4e4e4; padding: 5px; margin-bottom: 10px; border-radius: 3px; }

.elgg-module-theme-sandbox-demo > .elgg-head * { color: #333; }

.elgg-module-theme-sandbox-demo > .elgg-body { position: relative; }

.theme-sandbox-table { width: 100%; border-top: 1px solid #ccc; }

.theme-sandbox-table td, .theme-sandbox-table th { padding: 4px 8px; border: 1px solid #ccc; }

.theme-sandbox-table th { font-weight: bold; color: #666; }

.theme-sandbox-table tr:nth-child(odd), .theme-sandbox-table tr.odd { background-color: #fff; }

.theme-sandbox-table tr:nth-child(even), .theme-sandbox-table tr.even { background-color: #f0f0f0; }

.theme-sandbox-grid-demo { margin-bottom: 30px; }

.theme-sandbox-grid-demo-solid > .elgg-col > .elgg-inner { background-color: #999; color: #fff; border-radius: 5px; margin: 5px; padding: 8px; text-align: center; }

.theme-sandbox-grid-demo-solid > .elgg-col:first-child > .elgg-inner { margin-left: 0; }

.theme-sandbox-grid-demo-solid > .elgg-col:last-child > .elgg-inner { margin-right: 0; }

.theme-sandbox-grid-demo-outline > .elgg-col > .elgg-inner { border: 1px solid #cccccc; border-radius: 5px; padding: 5px; text-align: center; font-size: .65rem; }

.elgg-col p { text-align: left; font-size: .80rem; }

.theme-sandbox-demo-sidebar { width: 200px; }

.theme-sandbox-content-thin { max-width: 600px; }

/* specific to core theme for site navigation menu */
.elgg-body > .elgg-page-header > .elgg-inner > .elgg-menu-site-default { position: static; }
