.elgg-body-walledgarden { margin: 3.125rem auto; }
.elgg-body-walledgarden .elgg-module-walledgarden { width: 100%; margin-left: auto; margin-right: auto; margin-top: 0; margin-bottom: 0; max-width: 62.5rem; }
.elgg-body-walledgarden .elgg-module-walledgarden:before, .elgg-body-walledgarden .elgg-module-walledgarden:after { content: " "; display: table; }
.elgg-body-walledgarden .elgg-module-walledgarden:after { clear: both; }
.elgg-body-walledgarden .elgg-module-walledgarden .elgg-col .elgg-inner { border-style: solid; border-width: 1px; border-color: #d8d8d8; margin-bottom: 1.25rem; padding: 1.25rem; background: #f2f2f2; color: #333333; }
.elgg-body-walledgarden .elgg-module-walledgarden .elgg-col .elgg-inner > :first-child { margin-top: 0; }
.elgg-body-walledgarden .elgg-module-walledgarden .elgg-col .elgg-inner > :last-child { margin-bottom: 0; }
.elgg-body-walledgarden .elgg-module-walledgarden .elgg-col .elgg-inner h1, .elgg-body-walledgarden .elgg-module-walledgarden .elgg-col .elgg-inner h2, .elgg-body-walledgarden .elgg-module-walledgarden .elgg-col .elgg-inner h3, .elgg-body-walledgarden .elgg-module-walledgarden .elgg-col .elgg-inner h4, .elgg-body-walledgarden .elgg-module-walledgarden .elgg-col .elgg-inner h5, .elgg-body-walledgarden .elgg-module-walledgarden .elgg-col .elgg-inner h6, .elgg-body-walledgarden .elgg-module-walledgarden .elgg-col .elgg-inner p, .elgg-body-walledgarden .elgg-module-walledgarden .elgg-col .elgg-inner li, .elgg-body-walledgarden .elgg-module-walledgarden .elgg-col .elgg-inner dl { color: #333333; }
.elgg-body-walledgarden .elgg-module-walledgarden .elgg-col .elgg-inner h1, .elgg-body-walledgarden .elgg-module-walledgarden .elgg-col .elgg-inner h2, .elgg-body-walledgarden .elgg-module-walledgarden .elgg-col .elgg-inner h3, .elgg-body-walledgarden .elgg-module-walledgarden .elgg-col .elgg-inner h4, .elgg-body-walledgarden .elgg-module-walledgarden .elgg-col .elgg-inner h5, .elgg-body-walledgarden .elgg-module-walledgarden .elgg-col .elgg-inner h6 { line-height: 1; margin-bottom: 0.625rem; }
.elgg-body-walledgarden .elgg-module-walledgarden .elgg-col .elgg-inner h1.subheader, .elgg-body-walledgarden .elgg-module-walledgarden .elgg-col .elgg-inner h2.subheader, .elgg-body-walledgarden .elgg-module-walledgarden .elgg-col .elgg-inner h3.subheader, .elgg-body-walledgarden .elgg-module-walledgarden .elgg-col .elgg-inner h4.subheader, .elgg-body-walledgarden .elgg-module-walledgarden .elgg-col .elgg-inner h5.subheader, .elgg-body-walledgarden .elgg-module-walledgarden .elgg-col .elgg-inner h6.subheader { line-height: 1.4; }
.elgg-body-walledgarden h1, .elgg-body-walledgarden h2, .elgg-body-walledgarden h3, .elgg-body-walledgarden h4, .elgg-body-walledgarden h5, .elgg-body-walledgarden h6 { color: #e9e9e9; }
