@import "../../init";

form, .elgg-form {
	margin: 0;
	@include clearfix;

	& > fieldset {
		border: none;
		margin: 0;
		padding: 0
	}

	label {
		color: scale-color($body-font-color, $lightness: -5%);
		& + br {
			display: none;
		}
	}

	.mceEditor {
		margin-bottom: 20px;
		display: block;
	}
}

.elgg-input-checkboxes, .elgg-input-radios {
	& > li {
		margin-bottom: rem-calc(5);
	}
	input[type="radio"], input[type="checkbox"] {
		margin: 0 rem-calc(5) 0 0;
		display: inline-block;
		vertical-align: middle;
	}
}

select[multiple] {
	height: auto;
	overflow: auto;
	background-image: none;
}