@import "../../init";

/* ***************************************
	NAVIGATION ELEMENTS
*************************************** */
.elgg-pagination {
	@include pagination;
	text-align: center;
	font-size: rem-calc(20px);
	li {
		float: none;
		display: inline-block;
		padding: 0;
		a, span {
			line-height: $pagination-li-height;
			font-size: $pagination-li-font-size;
			padding: $pagination-link-pad;
			display: block;
			@include radius($global-radius);
		}
		&.elgg-state-disabled > * {
			color: $pagination-link-unavailable-font-color;
			&:hover {
				background: $pagination-link-unavailable-bg-active;
			}
		}
		&.elgg-state-selected > *, a:hover {
			color: $pagination-link-current-font-color;
			background: $pagination-link-current-active-bg;
		}
	}
}

.elgg-htabs {
	@include elgg-tabs;
}

.elgg-vtabs {
	@include side-nav;
}

.elgg-breadcrumbs {
	@include crumb-container;
	li { @include crumbs; }
}

.elgg-menu {
	font-family: $elgg-menu-font-family;
	.hidden {
		display: none !important;
	}
}

.elgg-menu-hz {
	@include inline-list;
	margin: 0;
}

/* ***************************************
	TOPBAR MENU
**************************************** */
.top-bar {
	&.expanded {
		background: $topbar-bg-color;
	}
}
.elgg-menu-topbar {

	.name h1 a {
		font-size: inherit;
	}

	.elgg-icon {
		font-size: $topbar-link-font-size + rem-calc(6);
		line-height: rem-calc($topbar-height - 10);
		height: rem-calc($topbar-height - 10);
		vertical-align: middle;
		display: inline;
		.elgg-icon + * {
			margin-left: rem-calc(10);
		}
	}

	li:not(.elgg-menu-item-toggle) > a:not(.elgg-button) {
		position: relative;
		& > .elgg-icon + span, .messages-new, #notifier-new, .friend-request-new {
			@include toolbar-notifier;
		}
	}

	&.elgg-menu-topbar-alt {
		.elgg-guest-user & {
			float: left;
			margin-left: 20px;
		}
		.elgg-icon {
			margin-right: 10px;
			font-size: $topbar-link-font-size + rem-calc(6);
		}
		li > a {
			padding: 0 0 0 30px;
		}
	}

	.top-bar-section & {
		&.elgg-menu-topbar-default > li {
			display: inline-block;
		}
		li {
			a.elgg-topbar-avatar {
				img {
					height: rem-calc($topbar-height - 15);
					border: 1px solid $border-color;
					@include box-sizing;
					@include border-radius(1000px);
				}
			}
			& > a {
				padding: 0;
				padding: rem-calc(15);
				line-height: rem-calc($topbar-height - 10);
			}
		}
	}

}



/* ***************************************
	SITE MENU
*************************************** */
.elgg-menu-site {
	@include clearfix;
	z-index: 1;
	margin: 0 auto;

	li {
		background: transparent;
		height: $elgg-toolbar-height;
	}

	.elgg-state-selected, li:hover {
		background: $elgg-toolbar-secondary-color;
		@include single-transition;
	}

	li a {
		font-family: $elgg-menu-font-family;
		font-size: $elgg-toolbar-font-size;
		padding: 0 $elgg-toolbar-font-size;
		color: white;
		line-height: $elgg-toolbar-height;
	}

	&.elgg-menu-site-default {
		position: relative;
		bottom: 0;
		left: 0;
	}

	&.elgg-menu-site-default > li {
		display: inline-block;
		vertical-align: middle;
	}

	.elgg-menu-site-default > li > a {
		line-height: $elgg-toolbar-height;
	}

	.elgg-menu-site-more {
		display: none;
		position: absolute;
		left: auto;
		top: $elgg-toolbar-height;
		z-index: 20;
		min-width: $topbar-link-font-size * 15;
		background: $elgg-toolbar-secondary-color;
	}

	li.elgg-state-acive > .elgg-menu-site-more,
	li:hover > .elgg-menu-site-more {
		display: block;
	}

	.elgg-menu-site-more > .elgg-state-selected,
	.elgg-menu-site-more > li:hover {
		background: $elgg-toolbar-primary-color;
	}

	.elgg-more {
		position: relative;
		& > a:before {
			content: "\25BC";
			font-size: rem-calc(10px);
			line-height: $elgg-toolbar-height;
			height: $elgg-toolbar-height;
			text-align: center;
			display: inline-block;
			margin-right:3px;
		}
	}

}

/* ***************************************
	TITLE
*************************************** */
.elgg-menu-title {
	@include inline-list;
	@include float(right);
	margin-right: rem-calc(15px);
}

/* ***************************************
	FILTER MENU
*************************************** */
.elgg-menu-filter {
	@include elgg-tabs;
	margin-left: 0;
	overflow: auto;
}

/* ***************************************
	PAGE MENU / OWNER BLOCK
*************************************** */
.elgg-menu-page, .elgg-menu-owner-block {
	@include side-nav;

	li a {
		padding: $elgg-value-medium/2 $elgg-value-medium;
		@include radius;
	}
	li.elgg-state-selected > a:first-child, li > a:first-child:hover {
		background: $primary-color;
		color: white;
		font-weight: normal;
	}

	.elgg-child-menu {
		display: none;
		margin-left: 15px;
	}
	.elgg-menu-closed:before, .elgg-menu-opened:before {
		display: inline-block;
		padding-right: 4px;
	}
	.elgg-menu-closed:before {
		content: "\002B";
	}
	.elgg-menu-opened:before {
		content: "\002D";
	}
}

/* ***************************************
	HOVER MENU
*************************************** */
.elgg-menu-hover {
	display: none;
	position: absolute;
	z-index: 300;

	overflow: hidden;

	min-width: rem-calc(200px);
	max-width: rem-calc(250px);
	border: solid 1px;
	border-color: $border-color darken($border-color, 20%) darken($border-color, 20%) $border-color;
	background-color: #FFF;

	@include box-shadow(2px 2px 6px rgba(0, 0, 0, 0.50));

	& > li {
		border-bottom: 1px solid $border-color;
		&:last-child {
			border-bottom: none;
		}
		&:first-child {
			background: lighten($border-color, 2%);
			font-weight: bold;
		}
		ul {
			margin: 0;
		}
	}

	a {
		padding: 2px 6px;
		font-size: rem-calc(13px);
		display: block;
		width: 100%;
		&:hover {
			background: lighten($border-color, 5%);
		}
		.elgg-heading-basic {
			display: block;
		}

	}

	.elgg-menu-hover-admin a {
		color: red;
		&:hover {
			color: white;
			background-color: red;
		}
	}
}


/* ***************************************
	SITE FOOTER
*************************************** */
.elgg-menu-footer {
	@include grid-column(12);
	@include inline-list;
	margin: 0;
	padding-top: $elgg-value-large;
	li, li > a {
		color: lighten(#000, 30%);
		font-size: rem-calc(16px);
		@include text-shadow(1px 1px 0 white);
	}
}

/* ***************************************
	GENERAL MENU
*************************************** */
.elgg-menu-general {
	font-size: rem-calc(14px);
	& > li {
		display: inline-block;
		margin: 0 $elgg-value-small;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}

}

/* ***************************************
	ENTITY AND ANNOTATION AND RIVER
*************************************** */
.elgg-menu-entity, .elgg-menu-annotation, .elgg-menu-river {

	margin: 0;
	@include float(right, 15px);
	li {
		margin-left: $elgg-value-medium;
		color: $elgg-entity-menu-color;
		font-size: rem-calc(13.5px);
		line-height: rem-calc(16px);
		vertical-align: middle;
		a, span {
			color: $elgg-entity-menu-color;
			font-size: rem-calc(16px);
			line-height: rem-calc(18px);
			display: inline-block;
			vertical-align: middle;
			&:hover {
				color: $primary-color;
			}
			@media #{$medium-up} {
				font-size: rem-calc(14px);
				line-height: rem-calc(18px);
			}
		}
	}
}

/* ***************************************
	LONGTEXT
*************************************** */
.elgg-menu-longtext {
	@include float(right);
	font-size: rem-calc(12px);
}

/* ***************************************
	SIDEBAR EXTRAS (rss, bookmark, etc)
*************************************** */
.elgg-menu-extras {
	margin-bottom: 15px;
}

/* ***************************************
	WIDGET MENU
*************************************** */
.elgg-menu-widget {
	li {
		margin: 0;
		position: absolute;
		top: 0;
		display: inline-block;
		line-height: rem-calc(40px);
		a:not(.elgg-button) {
			color: darken($border-color, 20%);
			.elgg-icon:hover, &:hover {
				color: $primary-color;
			}
		}
		&.elgg-menu-item-collapse {
			left: 5px;
			font-size: 12px;
		}
		&.elgg-menu-item-delete {
			right: 10px;
			.elgg-icon {
				font-size: 20px;
			}
		}
		&.elgg-menu-item-settings {
			right: 35px;
			.elgg-icon {
				font-size: 20px;
			}
		}
		.elgg-widget-collapse-button:before {
			content: "\25E2";
		}
		.elgg-widget-collapse-button.elgg-widget-collapsed:before {
			content: "\25BA";
		}
	}
}


