@import "../../init";

$include-google-fonts: () !default;
@each $font-family in $include-google-fonts {
	@import url("//fonts.googleapis.com/css?family=#{$font-family}");
}

h1,h2,h3,h4,h5,h6 {
	line-height: $header-line-height;
	margin-top: 0;
	font-weight: normal;
	word-break: break-word;
}
h1 { font-size: $h1-font-size; }
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }

acronym {
	text-transform: none;
}

ol, ul {
	list-style: none;
	margin-left: 0;
}

.elgg-heading-site, .elgg-heading-site:hover {
	@include grid-column(12);
	color: $elgg-header-site-color;
	font-family: $secondary-font-stack;
	font-weight: normal;
	font-size: rem-calc(40px);
	padding: rem-calc(20px);
}

.elgg-heading-main, .elgg-heading-main:hover {
	@include grid-column(8);
	padding-left: 0;
	color: $elgg-header-main-color;
}

.elgg-heading-basic {
	color: $header-font-color;
	font-size: rem-calc(18px);
}

.elgg-subtext {
	color: lighten($body-font-color, 5%);
	font-size: rem-calc(13);
	line-height: rem-calc(15);
	font-style: italic;
}

.elgg-text-help {
	display: block;
	font-size: 85%;
	font-style: italic;
}

.elgg-quiet {
	color: lighten($body-font-color, 10%);
}

.elgg-loud {
	color: darken($body-font-color, 10%);
	font-weight: bold;
}

.elgg-output {
	margin: rem-calc(10px) 0;
	ul {
		margin-left: rem-calc(18);
	}
}
