/* ***************************************
	Profile
*************************************** */
.profile { margin-bottom: 1.875rem; }
.profile .elgg-inner { width: 100%; margin-left: auto; margin-right: auto; margin-top: 0; margin-bottom: 0; max-width: 62.5rem; border: 1px solid #cccccc; padding: 0; }
.profile .elgg-inner:before, .profile .elgg-inner:after { content: " "; display: table; }
.profile .elgg-inner:after { clear: both; }

#profile-owner-block { padding-left: 0.9375rem; padding-right: 0.9375rem; width: 100%; float: left; padding: 0.9375rem; background-color: #e6e6e6; }
#profile-owner-block .elgg-menu-owner-block li a { background: white; }
#profile-owner-block .elgg-menu-owner-block li:hover a { background: #4690d6; }
#profile-owner-block .elgg-avatar { padding-left: 0.9375rem; padding-right: 0.9375rem; width: 100%; float: left; padding: 0; }
#profile-owner-block .elgg-avatar + *, #profile-owner-block .elgg-avatar + * + * { padding-left: 0.9375rem; padding-right: 0.9375rem; width: 100%; float: left; padding: 0; }
#profile-owner-block .elgg-avatar + * .elgg-button, #profile-owner-block .elgg-avatar + * + * .elgg-button { width: 100%; margin: 0 0 5px 0; }
#profile-owner-block .profile-admin-menu-wrapper { display: inline-block; width: 100%; }
#profile-owner-block .profile-admin-menu-wrapper > li { float: none; }
#profile-owner-block .profile-admin-menu-wrapper > li a { width: 100%; display: inline-block; padding: 0.21875rem 0.4375rem; background: white; }
#profile-owner-block .profile-admin-menu-wrapper > li a:hover { background: #4690d6; color: white; }
#profile-owner-block .profile-admin-menu-wrapper .profile-admin-menu { background: white; margin: 0; padding: 0; display: none; }
@media only screen and (min-width: 400px) { #profile-owner-block .elgg-avatar { padding-left: 0.9375rem; padding-right: 0.9375rem; width: 41.66667%; float: left; padding: 0; }
  #profile-owner-block .elgg-avatar + *, #profile-owner-block .elgg-avatar + * + * { padding-left: 0.9375rem; padding-right: 0.9375rem; width: 58.33333%; float: left; margin: 0; padding-right: 0; } }
@media only screen and (min-width: 40.063em) { #profile-owner-block { padding-left: 0.9375rem; padding-right: 0.9375rem; width: 25%; float: left; padding: 0.9375rem; }
  #profile-owner-block .elgg-avatar { padding-left: 0.9375rem; padding-right: 0.9375rem; width: 100%; float: left; padding: 0; }
  #profile-owner-block .elgg-avatar + *, #profile-owner-block .elgg-avatar + * + * { padding-left: 0.9375rem; padding-right: 0.9375rem; width: 100%; float: left; padding: 0; }
  #profile-owner-block .elgg-avatar + *.mvm, #profile-owner-block .elgg-avatar + * + *.mvm { margin: 10px 0; } }

#profile-details { padding-left: 0.9375rem; padding-right: 0.9375rem; width: 100%; float: left; overflow: hidden; margin: 0; padding: 0; padding: 1.25rem; }
#profile-details:before, #profile-details:after { content: " "; display: table; }
#profile-details:after { clear: both; }
#profile-details > .odd, #profile-details .even { position: relative; padding: 0.4375rem; border-color: #d9d9d9; border-style: solid; border-width: 0; border-top-width: 1px; }
#profile-details > .odd:before, #profile-details > .odd:after, #profile-details .even:before, #profile-details .even:after { content: " "; display: table; }
#profile-details > .odd:after, #profile-details .even:after { clear: both; }
#profile-details > .odd:first-child, #profile-details .even:first-child { margin-top: 0.4375rem; }
#profile-details > .odd:last-child, #profile-details .even:last-child { border-bottom-width: 1px; margin-bottom: 0.4375rem; }
@media only screen and (min-width: 40.063em) { #profile-details { padding-left: 0.9375rem; padding-right: 0.9375rem; width: 75%; float: left; padding: 1.25rem; } }
#profile-details .even { background-color: #e6e6e6; }
#profile-details .profile-aboutme-title { margin: 20px 0 0; padding: 10px; border-bottom: 1px solid #cccccc; }

.profile-banned-user { border: 2px solid #4690d6; padding: 0.5625rem; border-radius: 5px; }
