.groups-profile { width: 100%; margin-left: auto; margin-right: auto; margin-top: 0; margin-bottom: 0; max-width: 62.5rem; border: 1px solid #cccccc; margin-bottom: 1.25rem; }
.groups-profile:before, .groups-profile:after { content: " "; display: table; }
.groups-profile:after { clear: both; }
.groups-profile > .elgg-image { padding-left: 0.9375rem; padding-right: 0.9375rem; width: 100%; float: left; padding: 0.9375rem; background-color: #e6e6e6; margin: 0; }
@media only screen and (min-width: 40.063em) { .groups-profile > .elgg-image { padding-left: 0.9375rem; padding-right: 0.9375rem; width: 25%; float: left; padding: 0.9375rem; } }
.groups-profile > .elgg-image .groups-profile-icon { padding-left: 0.9375rem; padding-right: 0.9375rem; width: 33.33333%; float: left; }
@media only screen and (min-width: 40.063em) { .groups-profile > .elgg-image .groups-profile-icon { padding-left: 0.9375rem; padding-right: 0.9375rem; width: 100%; float: left; padding: 0; } }
.groups-profile > .elgg-image .groups-profile-icon img { width: 100%; height: auto; }
.groups-profile > .elgg-image .groups-stats { padding-left: 0.9375rem; padding-right: 0.9375rem; width: 66.66667%; float: left; }
.groups-profile > .elgg-image .groups-stats p { margin: 3px 0; }
@media only screen and (min-width: 40.063em) { .groups-profile > .elgg-image .groups-stats { padding-left: 0.9375rem; padding-right: 0.9375rem; width: 100%; float: left; padding: 0; margin-top: 10px; } }
.groups-profile > .elgg-body { padding-left: 0.9375rem; padding-right: 0.9375rem; width: 100%; float: left; padding: 0.9375rem; }
@media only screen and (min-width: 40.063em) { .groups-profile > .elgg-body { padding-left: 0.9375rem; padding-right: 0.9375rem; width: 75%; float: left; padding: 0.9375rem; } }

#groups-tools.elgg-gallery > li { margin: 0; display: block; padding-left: 0.9375rem; padding-right: 0.9375rem; width: 100%; float: left; }
@media only screen and (min-width: 40.063em) { #groups-tools.elgg-gallery > li { padding-left: 0.9375rem; padding-right: 0.9375rem; width: 50%; float: left; } }

.groups-widget-viewall { float: right; margin-left: 0.75rem; }
.groups-widget-viewall a { color: #4690d6; text-transform: uppercase; font-size: 0.625rem; }
